<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Welcome to {{ title }}!
	</h1>
	<h2>
		Read <a href="https://www.techiediaries.com/angular-router/">Angular router tutorial</a> and 
		<a href="https://www.techiediaries.com/angular-tutorial/">Angular 6 tutorial</a>
	</h2>

	<a [routerLink]="[{ outlets: { primary: ['products'],sidebar: ['products'] } }]">
		Products
	</a>

</div>

<div>
	<div style="float:right">
		<router-outlet></router-outlet>
	</div>
	<div style="float:left">	
		<router-outlet name="sidebar"></router-outlet>
	</div>
</div>
